In [26]:
import joblib
import pandas as pd
from RainPredictionMachine.Trainer import *

In [32]:
model = joblib.load('../BERTIOGA_v1.joblib')

In [33]:
from RainPredictionMachine.data import CleanDataRpm
cleaner = CleanDataRpm()
df = cleaner.clean_data(4, gcp=False)
X_train, y_train, X_test, y_test = split_train_test(df, 600,72)

In [34]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 normalization_4 (Normalizat  (None, None, 20)         41
 ion)

 lstm_12 (LSTM)              (None, None, 200)         176800

 lstm_13 (LSTM)              (None, None, 100)         120400

 lstm_14 (LSTM)              (None, 50)                30200

 dense_8 (Dense)             (None, 30)                1530

 dense_9 (Dense)             (None, 24)                744

=================================================================
Total params: 329,715
Trainable params: 329,674
Non-trainable params: 41
_________________________________________________________________

In [17]:
X_test.shape

(6000, 48, 20)

In [5]:
y_pred = model.predict(X_test)
y_pred

array([[0.12554586, 0.08052552, 0.1331672 , ..., 0.        , 0.        ,
        0.        ],
       [0.1478498 , 0.10024881, 0.01084054, ..., 0.16208309, 0.15390903,
        0.13568676],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.08611971, ..., 0.        , 0.        ,
        0.        ],
       [0.03127098, 0.        , 0.        , ..., 0.16248918, 0.143956  ,
        0.13273013],
       [0.12945557, 0.11386561, 0.12446821, ..., 0.15099221, 0.14881098,
        0.13762069]], dtype=float32)

In [6]:
model.evaluate(X_test,y_test)

188/188 [==============================] - 6s 28ms/step - loss: 3.3286e-04 - mae: 0.0111 - mse: 3.3286e-04 - mape: 896862.4375

[0.00033286280813626945,
 0.011115049012005329,
 0.00033286280813626945,
 896862.4375]

In [7]:
df_y_pred = pd.DataFrame(y_pred).T

In [8]:
df_y_test = pd.DataFrame(y_test).T

In [9]:
def classe_chuva(precipitacao):
    mm=precipitacao
    if np.isnan(mm):
        chuva = "NaN"
    if mm == 0:
        chuva = 0 #'nao chove'
    elif mm >0 and mm <=5.0:
        chuva = 1 #'fraca'
    elif mm >5.0 and mm<=25.0:
        chuva = 2 #'moderada'
    else:
        chuva = 3 #'forte'
    return chuva

In [10]:
df_y_test_categorical = df_y_test.applymap(classe_chuva)
df_y_test_categorical.T.value_counts()

0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23
0  0  0  0  0  0  0  0  0  0  0   1   1   1   1   1   1   1   1   1   1   1   1   1     283
1  1  1  1  1  1  1  1  1  1  1   1   0   0   0   0   0   0   0   0   0   0   0   1     279
0  0  0  0  0  0  0  0  1  1  1   1   1   1   1   1   1   1   1   1   1   0   0   0     276
1  1  1  1  1  1  0  0  0  0  0   0   0   0   0   0   0   1   1   1   1   1   1   1     267
                  1  1  0  0  0   0   0   0   0   0   0   0   0   1   1   1   1   1     262
0  0  0  0  0  0  0  0  0  0  1   1   1   1   1   1   1   1   1   1   1   1   1   0     262
1  0  0  0  0  0  0  0  0  0  0   0   1   1   1   1   1   1   1   1   1   1   1   1     258
   1  0  0  0  0  0  0  0  0  0   0   0   1   1   1   1   1   1   1   1   1   1   1     256
0  0  0  0  0  0  0  1  1  1  1   1   1   1   1   1   1   1   1   1   0   0   0   0     256
      1  1  1  1  1  1  1  1  1   1   1   1   1   0   0   0   0   0   0   0   0   0     254
1  1  1  1  1  1  1  0  0  0  0   0   0   0   0   0   0   0   1   1   1   1   1   1     252
                     1  1  1  1   0   0   0   0   0   0   0   0   0   0   0   1   1     250
         0  0  0  0  0  0  0  0   0   0   0   1   1   1   1   1   1   1   1   1   1     247
         1  0  0  0  0  0  0  0   0   0   0   0   1   1   1   1   1   1   1   1   1     247
            1  1  1  1  1  1  0   0   0   0   0   0   0   0   0   0   0   1   1   1     247
                              1   1   1   0   0   0   0   0   0   0   0   0   0   0     244
0  0  0  0  1  1  1  1  1  1  1   1   1   1   1   1   1   0   0   0   0   0   0   0     243
1  1  1  1  1  0  0  0  0  0  0   0   0   0   0   0   1   1   1   1   1   1   1   1     242
0  0  0  0  0  0  0  0  0  1  1   1   1   1   1   1   1   1   1   1   1   1   0   0     240
   1  1  1  1  1  1  1  1  1  1   1   1   1   0   0   0   0   0   0   0   0   0   0     235
   0  0  0  0  1  1  1  1  1  1   1   1   1   1   1   1   1   0   0   0   0   0   0     230
1  1  1  1  1  1  1  1  1  0  0   0   0   0   0   0   0   0   0   0   1   1   1   1     230
0  0  0  0  0  0  1  1  1  1  1   1   1   1   1   1   1   1   1   0   0   0   0   0     223
         1  1  1  1  1  1  1  1   1   1   1   1   1   0   0   0   0   0   0   0   0     217
dtype: int64

In [11]:
df_y_pred_categorical = df_y_pred.applymap(classe_chuva)
df_y_pred_categorical.T.value_counts()

0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23
1  1  1  1  1  1  1  1  1  0  0   0   0   0   0   0   0   0   0   1   1   1   1   1     492
   0  0  0  0  0  0  0  0  0  0   1   1   1   1   1   1   1   1   1   1   1   1   1     283
   1  1  1  1  1  1  1  1  1  1   1   1   0   0   0   0   0   0   0   0   1   0   1     279
0  0  0  0  0  0  0  1  1  1  1   1   1   1   1   1   1   1   1   1   1   1   0   0     276
1  1  1  1  1  1  1  0  0  0  0   0   0   0   0   0   1   1   1   1   1   1   1   1     267
0  0  0  0  0  0  0  0  0  0  1   1   1   1   1   1   1   1   1   1   1   1   1   1     262
1  1  0  0  0  0  0  0  0  0  0   1   1   1   1   1   1   1   1   1   1   1   1   1     258
0  0  0  0  0  0  0  1  1  1  1   1   1   1   1   1   1   1   1   1   1   0   0   0     256
1  1  1  0  0  0  0  0  0  0  0   0   1   1   1   1   1   1   1   1   1   1   1   1     256
0  0  1  1  1  1  1  1  1  1  1   1   1   1   1   0   0   0   0   0   0   0   0   0     254
1  1  1  1  1  1  1  1  0  0  0   0   0   0   0   0   0   0   1   1   1   1   1   1     252
                        1  1  1   0   0   0   0   0   0   0   0   0   0   1   1   1     250
                              0   0   0   0   0   0   0   0   0   0   1   1   1   1     247
               0  0  0  0  0  0   0   0   0   1   1   1   1   1   1   1   1   1   1     247
            0  0  0  0  0  0  0   0   0   0   1   1   1   1   1   1   1   1   1   1     247
            1  1  1  1  1  1  1   1   1   0   0   0   0   0   0   0   0   0   0   0     244
0  0  0  1  1  1  1  1  1  1  1   1   1   1   1   1   1   0   0   0   0   0   0   0     243
1  1  1  1  1  1  0  0  0  0  0   0   0   0   0   1   1   1   1   1   1   1   1   1     242
0  0  0  0  0  0  0  0  0  1  1   1   1   1   1   1   1   1   1   1   1   1   1   0     240
   1  1  1  1  1  1  1  1  1  1   1   1   1   1   0   0   0   0   0   0   0   0   0     235
   0  0  0  1  1  1  1  1  1  1   1   1   1   1   1   1   1   0   0   0   0   0   0     230
            0  1  1  1  1  1  1   1   1   1   1   1   1   1   1   0   0   0   0   0     223
      1  1  1  1  1  1  1  1  1   1   1   1   1   1   0   0   0   0   0   0   0   0     217
dtype: int64

In [12]:
(df_y_test_categorical == df_y_pred_categorical).sum()

0       24
1       22
2       23
3       23
4       22
        ..
5995    23
5996    23
5997    24
5998    23
5999    23
Length: 6000, dtype: int64

In [13]:
(df_y_test_categorical == df_y_pred_categorical).sum().sum()/(6000*24) #accuracy

0.9491180555555555

In [14]:
df_y_test_categorical

,0,1,2,3,4,5,6,7,8,9,...,5990,5991,5992,5993,5994,5995,5996,5997,5998,5999
0,1,1,0,0,1,1,0,1,0,1,...,0,1,1,0,0,1,0,0,0,1
1,1,1,0,0,1,1,0,1,0,1,...,0,1,0,0,1,1,0,0,0,1
2,1,0,0,0,1,1,0,1,0,1,...,0,1,0,0,1,1,0,1,0,1
3,1,0,0,0,1,0,0,1,0,1,...,0,1,0,0,1,1,0,1,0,1
4,1,0,1,0,1,0,0,1,0,1,...,0,1,0,0,1,1,0,1,0,1
5,1,0,1,0,0,0,0,1,0,1,...,0,1,0,1,1,1,0,1,0,1
6,1,0,1,0,0,0,0,1,0,1,...,0,1,0,1,1,1,0,1,0,1
7,1,0,1,0,0,0,0,1,0,1,...,1,1,0,1,1,1,0,1,0,0
8,1,0,1,0,0,0,0,1,0,1,...,1,1,0,1,1,1,0,1,0,0
9,1,0,1,1,0,0,1,1,0,1,...,1,1,0,1,1,1,1,1,0,0
10,1,0,1,1,0,0,1,1,0,1,...,1,1,0,1,1,1,1,1,0,0
11,1,0,1,1,0,0,1,1,1,1,...,1,0,0,1,1,0,1,1,1,0
12,1,0,1,1,0,0,1,0,1,0,...,1,0,1,1,1,0,1,1,1,0
13,0,1,1,1,0,0,1,0,1,0,...,1,0,1,1,1,0,1,1,1,0
14,0,1,1,1,0,1,1,0,1,0,...,1,0,1,1,0,0,1,1,1,0
15,0,1,1,1,0,1,1,0,1,0,...,1,0,1,1,0,0,1,0,1,0
16,0,1,1,1,1,1,1,0,1,0,...,1,0,1,1,0,0,1,0,1,0
17,0,1,0,1,1,1,1,0,1,0,...,1,0,1,1,0,0,1,0,1,0
18,0,1,0,1,1,1,1,0,1,0,...,1,0,1,0,0,0,1,0,1,1
19,0,1,0,1,1,1,1,0,1,0,...,1,0,1,0,0,0,1,0,1,1
20,0,1,0,1,1,1,1,0,1,0,...,0,0,1,0,0,0,1,0,1,1
21,0,1,0,1,1,1,1,0,1,0,...,0,0,1,0,0,0,1,0,1,1
22,0,1,0,0,1,1,0,0,1,0,...,0,1,1,0,0,1,0,0,1,1
23,0,1,0,0,1,1,0,1,1,1,...,0,1,1,0,0,1,0,0,1,1

In [15]:
(df_y_test_categorical == df_y_pred_categorical).sum(axis=1)/6000

0     0.952833
1     0.957000
2     0.921167
3     0.918333
4     0.920500
5     0.922500
6     0.955500
7     0.912000
8     0.956333
9     1.000000
10    1.000000
11    0.957000
12    0.910833
13    1.000000
14    0.919667
15    0.959667
16    0.955500
17    1.000000
18    1.000000
19    0.961667
20    0.916167
21    0.865833
22    0.960000
23    0.956333
dtype: float64

In [16]:
df

,Chuva,Pres,Pres_max,Pres_min,Radiacao,Temp,Temp_orvalho,Temp_max,Temp_min,Temp_orvalho_max,...,Umid_min,Umid,Dir_vento,Rajada_vento,Vel_vento,Latitude,Longitude,Altitude,datahora,classe_chuva
0,0.000000,965.500000,965.500000,964.200000,0.000000,27.500000,17.300000,28.100000,27.50000,18.100000,...,51.000000,54.000000,357.000000,1.500000,0.000000,-22.949,-49.894546,443.49,2020-01-01 00:00:00+00:00,0
1,0.000000,966.100000,966.200000,965.500000,0.000000,25.700000,19.000000,27.500000,25.70000,19.100000,...,54.000000,67.000000,50.000000,2.700000,0.700000,-22.949,-49.894546,443.49,2020-01-01 01:00:00+00:00,0
2,0.000000,966.400000,966.400000,966.100000,0.000000,24.600000,19.800000,25.700000,24.60000,20.000000,...,67.000000,75.000000,13.000000,2.700000,0.000000,-22.949,-49.894546,443.49,2020-01-01 02:00:00+00:00,0
3,0.000000,966.100000,966.500000,966.100000,0.000000,23.500000,19.500000,24.600000,23.40000,19.900000,...,75.000000,78.000000,67.000000,0.900000,0.000000,-22.949,-49.894546,443.49,2020-01-01 03:00:00+00:00,0
4,0.000000,966.000000,966.200000,966.000000,0.000000,23.200000,19.900000,23.500000,22.90000,19.900000,...,78.000000,81.000000,23.000000,0.000000,0.000000,-22.949,-49.894546,443.49,2020-01-01 04:00:00+00:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,0.117373,972.359745,972.617229,972.092803,563.275991,21.406102,15.296644,22.176167,20.67491,15.888478,...,68.680187,71.727566,123.525485,3.680384,0.803697,-22.949,-49.894546,443.49,2020-12-31 19:00:00+00:00,1
8780,0.117373,972.359745,972.617229,972.092803,563.275991,21.406102,15.296644,22.176167,20.67491,15.888478,...,68.680187,71.727566,123.525485,3.680384,0.803697,-22.949,-49.894546,443.49,2020-12-31 20:00:00+00:00,1
8781,0.117373,972.359745,972.617229,972.092803,563.275991,21.406102,15.296644,22.176167,20.67491,15.888478,...,68.680187,71.727566,123.525485,3.680384,0.803697,-22.949,-49.894546,443.49,2020-12-31 21:00:00+00:00,1
8782,0.000000,965.800000,965.850000,964.850000,0.000000,26.600000,18.150000,27.800000,26.60000,18.600000,...,52.500000,60.500000,203.500000,2.100000,0.350000,-22.949,-49.894546,443.49,2020-12-31 22:00:00+00:00,0
8783,0.000000,965.800000,965.850000,964.850000,0.000000,26.600000,18.150000,27.800000,26.60000,18.600000,...,52.500000,60.500000,203.500000,2.100000,0.350000,-22.949,-49.894546,443.49,2020-12-31 23:00:00+00:00,0