In [8]:
import pandas as pd
from os import listdir
from os.path import isfile, join

In [13]:
df = pd.read_csv("../raw_data/SP/INMET_SE_SP_A705_BAURU_01-01-2020_A_31-12-2020.CSV", delimiter=";", skiprows=8, encoding="ISO-8859-1")
df

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
0,2020/01/01,0000 UTC,0,938,"938,1","937,5",NaN,"24,1","19,9",26,"23,9","19,9","17,5",78,60,77,169,"7,1",1,NaN
1,2020/01/01,0100 UTC,0,"938,7","938,7","937,9",NaN,"24,6","19,3","25,3","24,1","19,9",18,77,64,73,126,"5,3",",4",NaN
2,2020/01/01,0200 UTC,0,"938,4","938,7","938,4",NaN,"23,3",19,"24,8","23,3","19,4","18,4",77,68,77,107,"2,7",0,NaN
3,2020/01/01,0300 UTC,0,938,"938,4",938,NaN,"22,4","19,1","23,3","22,4","19,1","18,6",81,77,81,330,",9",0,NaN
4,2020/01/01,0400 UTC,0,"937,9",938,"937,9",NaN,"23,1",19,"23,2","22,1","19,2","18,6",82,75,77,308,"1,4",0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,2020/12/31,1900 UTC,"2,8","941,1","942,1","941,1",76,"20,9","20,3","22,2","20,8","21,5","20,2",96,95,96,135,"4,6",0,NaN
8780,2020/12/31,2000 UTC,",8","941,3","941,3","940,9","134,7","21,4","20,8","21,4","20,9","20,8","20,3",96,96,96,97,0,0,NaN
8781,2020/12/31,2100 UTC,0,"941,7","941,7","941,1","198,8","21,8","21,2",22,"21,4","21,3","20,8",96,96,96,155,0,0,NaN
8782,2020/12/31,2200 UTC,",8","942,5","942,5","941,7","31,3","20,9","20,2","21,9","20,9","21,3","20,2",96,95,96,124,"4,7",0,NaN
8783,2020/12/31,2300 UTC,"1,8","942,4","942,6","942,2",",6","20,4","19,8","20,9","20,4","20,2","19,8",97,96,97,88,0,0,NaN

In [ ]:
df = pd.read_csv(f'../raw_data/SP/{files[0]}', sep=';', skiprows=8, encoding="ISO-8859-1", decimal=',')
lat_log_alt = pd.read_csv(f'../raw_data/SP/{files[0]}', sep=';', skiprows=3, nrows=3, encoding="ISO-8859-1", decimal=',')
df['Estaçao']=files[0].split('_')[4]
df['Latitude']=lat_log_alt['A768'][0] 
df['Longitude']=lat_log_alt['A768'][1] 
df['Altitude']=lat_log_alt['A768'][2]

df.head()

In [10]:
path = '../raw_data/SP'
files = [f for f in listdir(path) if isfile(join(path, f))]
print(files[0])

INMET_SE_SP_A771_SAO PAULO - INTERLAGOS_01-01-2020_A_31-12-2020.CSV

In [11]:
df.dtypes

Data                                                      object
Hora UTC                                                  object
PRECIPITAÇÃO TOTAL, HORÁRIO (mm)                          object
PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)     object
PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)           object
PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)          object
RADIACAO GLOBAL (Kj/m²)                                   object
TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)              object
TEMPERATURA DO PONTO DE ORVALHO (°C)                      object
TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)                object
TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)                object
TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)          object
TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)          object
UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)                 float64
UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)                 float64
UMIDADE RELATIVA DO AR, HORARIA (%)                      float64
VENTO, DIREÇÃO HORARIA (gr) (° (gr))                     float64
VENTO, RAJADA MAXIMA (m/s)                                object
VENTO, VELOCIDADE HORARIA (m/s)                           object
Unnamed: 19                                              float64
Estaçao                                                   object
dtype: object

In [5]:
teste=df
teste['estacao']=files[0].split('_')[4]
teste.head()

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),...,TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19,estacao
0,2020/01/01,0000 UTC,0,938,"938,1","937,5",NaN,"24,1","19,9",26,...,"19,9","17,5",78,60,77,169,"7,1",1,NaN,SAO PAULO - INTERLAGOS
1,2020/01/01,0100 UTC,0,"938,7","938,7","937,9",NaN,"24,6","19,3","25,3",...,"19,9",18,77,64,73,126,"5,3",",4",NaN,SAO PAULO - INTERLAGOS
2,2020/01/01,0200 UTC,0,"938,4","938,7","938,4",NaN,"23,3",19,"24,8",...,"19,4","18,4",77,68,77,107,"2,7",0,NaN,SAO PAULO - INTERLAGOS
3,2020/01/01,0300 UTC,0,938,"938,4",938,NaN,"22,4","19,1","23,3",...,"19,1","18,6",81,77,81,330,",9",0,NaN,SAO PAULO - INTERLAGOS
4,2020/01/01,0400 UTC,0,"937,9",938,"937,9",NaN,"23,1",19,"23,2",...,"19,2","18,6",82,75,77,308,"1,4",0,NaN,SAO PAULO - INTERLAGOS

In [7]:
df = pd.read_csv(f'../raw_data/SP/{files[0]}', sep=';', skiprows=8, encoding="ISO-8859-1")
df['Estaçao']=files[0].split('_')[4]

In [12]:
df = pd.read_csv(f'../raw_data/SP/{files[0]}', sep=';', skiprows=8, encoding="ISO-8859-1")
header=pd.read_csv(f'../raw_data/SP/{files[0]}', sep=';', nrows=7, encoding="ISO-8859-1")
df['Estaçao']=header['SE'][1] 
df['Latitude']=header['SE'][3] 
df['Longitude']=header['SE'][4] 
df['Altitude']=header['SE'][5] 
df

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),...,UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19,Estaçao,Latitude,Longitude,Altitude
0,2020/01/01,0000 UTC,0,"923,1","923,1","922,1",NaN,22,"20,5","22,2",...,90.0,92.0,172.0,"2,8",",4",NaN,SAO PAULO - INTERLAGOS,"-23,724501","-46,677501",771
1,2020/01/01,0100 UTC,0,"923,7","923,7","923,1",NaN,"22,1","20,7","22,3",...,90.0,92.0,101.0,"1,8",",9",NaN,SAO PAULO - INTERLAGOS,"-23,724501","-46,677501",771
2,2020/01/01,0200 UTC,0,"923,6","923,8","923,6",NaN,"23,2","20,1","23,5",...,82.0,82.0,7.0,"3,3","1,2",NaN,SAO PAULO - INTERLAGOS,"-23,724501","-46,677501",771
3,2020/01/01,0300 UTC,0,"923,1","923,6","923,1",NaN,"23,3","19,5","23,6",...,78.0,79.0,6.0,3,"1,2",NaN,SAO PAULO - INTERLAGOS,"-23,724501","-46,677501",771
4,2020/01/01,0400 UTC,0,"922,6","923,1","922,6",NaN,"22,9",19,"23,6",...,76.0,79.0,345.0,"3,5",",6",NaN,SAO PAULO - INTERLAGOS,"-23,724501","-46,677501",771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,2020/12/31,1900 UTC,0,"924,3","924,6","924,2","806,8","24,5","18,8","25,5",...,67.0,71.0,315.0,"7,3","2,2",NaN,SAO PAULO - INTERLAGOS,"-23,724501","-46,677501",771
8780,2020/12/31,2000 UTC,0,"925,7","925,7","924,3","315,1","23,9","19,2",25,...,68.0,75.0,286.0,"6,2","1,3",NaN,SAO PAULO - INTERLAGOS,"-23,724501","-46,677501",771
8781,2020/12/31,2100 UTC,",8","926,3","926,3","925,7","113,8","21,9",21,"23,9",...,74.0,94.0,293.0,"4,6",",8",NaN,SAO PAULO - INTERLAGOS,"-23,724501","-46,677501",771
8782,2020/12/31,2200 UTC,"9,2","926,5","926,6","926,2","10,7","20,4","19,9","21,9",...,91.0,97.0,281.0,"8,5","1,7",NaN,SAO PAULO - INTERLAGOS,"-23,724501","-46,677501",771
8783,2020/12/31,2300 UTC,0,926,"926,5",926,NaN,"19,9","19,4","20,4",...,96.0,97.0,331.0,"5,7","1,9",NaN,SAO PAULO - INTERLAGOS,"-23,724501","-46,677501",771

In [24]:
df.columns

Index(['Data', 'Hora UTC', 'PRECIPITAÇÃO TOTAL, HORÁRIO (mm)',
       'PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)',
       'PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)',
       'PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)',
       'RADIACAO GLOBAL (Kj/m²)',
       'TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)',
       'TEMPERATURA DO PONTO DE ORVALHO (°C)',
       'TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)',
       'TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)',
       'TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)',
       'TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)',
       'UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)',
       'UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)',
       'UMIDADE RELATIVA DO AR, HORARIA (%)',
       'VENTO, DIREÇÃO HORARIA (gr) (° (gr))', 'VENTO, RAJADA MAXIMA (m/s)',
       'VENTO, VELOCIDADE HORARIA (m/s)', 'Unnamed: 19'],
      dtype='object')

In [30]:
df_test_mudar_nome_col = df.rename(columns={'Data': 'Data', 
                                            'Hora UTC': 'Hora(UTC)', 
                                            'PRECIPITAÇÃO TOTAL, HORÁRIO (mm)': 'Chuva',
                                            'PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)': 'Pres',
                                            'PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)': 'Pres.max',
                                            'PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)': 'Pres.min',
                                            'RADIACAO GLOBAL (Kj/m²)': 'Radiacao',
                                            'TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)': 'Temp',
                                            'TEMPERATURA DO PONTO DE ORVALHO (°C)': 'Temp.orvalho',
                                            'TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)': 'Temp.max',
                                            'TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)': 'Temp.min',
                                            'TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)': 'Temp.orvalho.max',
                                            'TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)': 'Temp.orvalho.min',
                                            'UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)': 'Umid.max',
                                            'UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)': 'Umid.min',
                                            'UMIDADE RELATIVA DO AR, HORARIA (%)': 'Umid',
                                            'VENTO, DIREÇÃO HORARIA (gr) (° (gr))': 'Dir.vento', 
                                            'VENTO, RAJADA MAXIMA (m/s)': 'Rajada.vento',
                                            'VENTO, VELOCIDADE HORARIA (m/s)': 'Vel.vento'})
df_test_mudar_nome_col

,Data,Hora(UTC),Chuva,Pres,Pres.max,Pres.min,Radiacao,Temp,Temp.orvalho,Temp.max,Temp.min,Temp.orvalho.max,Temp.orvalho.min,Umid.max,Umid.min,Umid,Dir.vento,Rajada.vento,Vel.vento,Unnamed: 19
0,2020/01/01,0000 UTC,0,938,"938,1","937,5",NaN,"24,1","19,9",26,"23,9","19,9","17,5",78,60,77,169,"7,1",1,NaN
1,2020/01/01,0100 UTC,0,"938,7","938,7","937,9",NaN,"24,6","19,3","25,3","24,1","19,9",18,77,64,73,126,"5,3",",4",NaN
2,2020/01/01,0200 UTC,0,"938,4","938,7","938,4",NaN,"23,3",19,"24,8","23,3","19,4","18,4",77,68,77,107,"2,7",0,NaN
3,2020/01/01,0300 UTC,0,938,"938,4",938,NaN,"22,4","19,1","23,3","22,4","19,1","18,6",81,77,81,330,",9",0,NaN
4,2020/01/01,0400 UTC,0,"937,9",938,"937,9",NaN,"23,1",19,"23,2","22,1","19,2","18,6",82,75,77,308,"1,4",0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,2020/12/31,1900 UTC,"2,8","941,1","942,1","941,1",76,"20,9","20,3","22,2","20,8","21,5","20,2",96,95,96,135,"4,6",0,NaN
8780,2020/12/31,2000 UTC,",8","941,3","941,3","940,9","134,7","21,4","20,8","21,4","20,9","20,8","20,3",96,96,96,97,0,0,NaN
8781,2020/12/31,2100 UTC,0,"941,7","941,7","941,1","198,8","21,8","21,2",22,"21,4","21,3","20,8",96,96,96,155,0,0,NaN
8782,2020/12/31,2200 UTC,",8","942,5","942,5","941,7","31,3","20,9","20,2","21,9","20,9","21,3","20,2",96,95,96,124,"4,7",0,NaN
8783,2020/12/31,2300 UTC,"1,8","942,4","942,6","942,2",",6","20,4","19,8","20,9","20,4","20,2","19,8",97,96,97,88,0,0,NaN

In [31]:
df_test_mudar_nome_col['Radicao']

,Data,Hora(UTC),Chuva,Pres,Pres.max,Pres.min,Radiacao,Temp,Temp.orvalho,Temp.max,Temp.min,Temp.orvalho.max,Temp.orvalho.min,Umid.max,Umid.min,Umid,Dir.vento,Rajada.vento,Vel.vento,Unnamed: 19
0,2020/01/01,0000 UTC,0,938,"938,1","937,5",NaN,"24,1","19,9",26,"23,9","19,9","17,5",78,60,77,169,"7,1",1,NaN
1,2020/01/01,0100 UTC,0,"938,7","938,7","937,9",NaN,"24,6","19,3","25,3","24,1","19,9",18,77,64,73,126,"5,3",",4",NaN
2,2020/01/01,0200 UTC,0,"938,4","938,7","938,4",NaN,"23,3",19,"24,8","23,3","19,4","18,4",77,68,77,107,"2,7",0,NaN
3,2020/01/01,0300 UTC,0,938,"938,4",938,NaN,"22,4","19,1","23,3","22,4","19,1","18,6",81,77,81,330,",9",0,NaN
4,2020/01/01,0400 UTC,0,"937,9",938,"937,9",NaN,"23,1",19,"23,2","22,1","19,2","18,6",82,75,77,308,"1,4",0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,2020/12/31,1900 UTC,"2,8","941,1","942,1","941,1",76,"20,9","20,3","22,2","20,8","21,5","20,2",96,95,96,135,"4,6",0,NaN
8780,2020/12/31,2000 UTC,",8","941,3","941,3","940,9","134,7","21,4","20,8","21,4","20,9","20,8","20,3",96,96,96,97,0,0,NaN
8781,2020/12/31,2100 UTC,0,"941,7","941,7","941,1","198,8","21,8","21,2",22,"21,4","21,3","20,8",96,96,96,155,0,0,NaN
8782,2020/12/31,2200 UTC,",8","942,5","942,5","941,7","31,3","20,9","20,2","21,9","20,9","21,3","20,2",96,95,96,124,"4,7",0,NaN
8783,2020/12/31,2300 UTC,"1,8","942,4","942,6","942,2",",6","20,4","19,8","20,9","20,4","20,2","19,8",97,96,97,88,0,0,NaN

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

In [36]:
df_test_mudar_nome_col['Hora(UTC)'] = df_test_mudar_nome_col['Hora(UTC)'].replace("UTC", " ")
df_test_mudar_nome_col

,Data,Hora(UTC),Chuva,Pres,Pres.max,Pres.min,Radiacao,Temp,Temp.orvalho,Temp.max,Temp.min,Temp.orvalho.max,Temp.orvalho.min,Umid.max,Umid.min,Umid,Dir.vento,Rajada.vento,Vel.vento,Unnamed: 19
0,2020/01/01,0000 UTC,0,938,"938,1","937,5",NaN,"24,1","19,9",26,"23,9","19,9","17,5",78,60,77,169,"7,1",1,NaN
1,2020/01/01,0100 UTC,0,"938,7","938,7","937,9",NaN,"24,6","19,3","25,3","24,1","19,9",18,77,64,73,126,"5,3",",4",NaN
2,2020/01/01,0200 UTC,0,"938,4","938,7","938,4",NaN,"23,3",19,"24,8","23,3","19,4","18,4",77,68,77,107,"2,7",0,NaN
3,2020/01/01,0300 UTC,0,938,"938,4",938,NaN,"22,4","19,1","23,3","22,4","19,1","18,6",81,77,81,330,",9",0,NaN
4,2020/01/01,0400 UTC,0,"937,9",938,"937,9",NaN,"23,1",19,"23,2","22,1","19,2","18,6",82,75,77,308,"1,4",0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,2020/12/31,1900 UTC,"2,8","941,1","942,1","941,1",76,"20,9","20,3","22,2","20,8","21,5","20,2",96,95,96,135,"4,6",0,NaN
8780,2020/12/31,2000 UTC,",8","941,3","941,3","940,9","134,7","21,4","20,8","21,4","20,9","20,8","20,3",96,96,96,97,0,0,NaN
8781,2020/12/31,2100 UTC,0,"941,7","941,7","941,1","198,8","21,8","21,2",22,"21,4","21,3","20,8",96,96,96,155,0,0,NaN
8782,2020/12/31,2200 UTC,",8","942,5","942,5","941,7","31,3","20,9","20,2","21,9","20,9","21,3","20,2",96,95,96,124,"4,7",0,NaN
8783,2020/12/31,2300 UTC,"1,8","942,4","942,6","942,2",",6","20,4","19,8","20,9","20,4","20,2","19,8",97,96,97,88,0,0,NaN

In [64]:
from datetime import *

df_test_mudar_nome_col['Hora(UTC)'] = df_test_mudar_nome_col['Hora(UTC)'].replace("UTC","")

def tratar_hora(hora):
    return hora.replace("UTC","")

df_test_mudar_nome_col['Hora(UTC)'] = df_test_mudar_nome_col['Hora(UTC)'].apply(lambda x: tratar_hora(x))

#df_test_mudar_nome_col['Hora(UTC)'] = df_test_mudar_nome_col['Hora(UTC)'].apply(lambda x: datetime.datetime(x.strip()))

df_test_mudar_nome_col

,Data,Hora(UTC),Chuva,Pres,Pres.max,Pres.min,Radiacao,Temp,Temp.orvalho,Temp.max,Temp.min,Temp.orvalho.max,Temp.orvalho.min,Umid.max,Umid.min,Umid,Dir.vento,Rajada.vento,Vel.vento,Unnamed: 19
0,2020/01/01,0000,0,938,"938,1","937,5",NaN,"24,1","19,9",26,"23,9","19,9","17,5",78,60,77,169,"7,1",1,NaN
1,2020/01/01,0100,0,"938,7","938,7","937,9",NaN,"24,6","19,3","25,3","24,1","19,9",18,77,64,73,126,"5,3",",4",NaN
2,2020/01/01,0200,0,"938,4","938,7","938,4",NaN,"23,3",19,"24,8","23,3","19,4","18,4",77,68,77,107,"2,7",0,NaN
3,2020/01/01,0300,0,938,"938,4",938,NaN,"22,4","19,1","23,3","22,4","19,1","18,6",81,77,81,330,",9",0,NaN
4,2020/01/01,0400,0,"937,9",938,"937,9",NaN,"23,1",19,"23,2","22,1","19,2","18,6",82,75,77,308,"1,4",0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,2020/12/31,1900,"2,8","941,1","942,1","941,1",76,"20,9","20,3","22,2","20,8","21,5","20,2",96,95,96,135,"4,6",0,NaN
8780,2020/12/31,2000,",8","941,3","941,3","940,9","134,7","21,4","20,8","21,4","20,9","20,8","20,3",96,96,96,97,0,0,NaN
8781,2020/12/31,2100,0,"941,7","941,7","941,1","198,8","21,8","21,2",22,"21,4","21,3","20,8",96,96,96,155,0,0,NaN
8782,2020/12/31,2200,",8","942,5","942,5","941,7","31,3","20,9","20,2","21,9","20,9","21,3","20,2",96,95,96,124,"4,7",0,NaN
8783,2020/12/31,2300,"1,8","942,4","942,6","942,2",",6","20,4","19,8","20,9","20,4","20,2","19,8",97,96,97,88,0,0,NaN

In [70]:
df_test_mudar_nome_col['datahora'] = df_test_mudar_nome_col.apply(lambda row: pd.to_datetime(f'{row["Data"]} {row["Hora(UTC)"]}'), axis=1)

In [71]:
(df_test_mudar_nome_col['datahora'].dt.hour > 22) or (df_test_mudar_nome_col['datahora'].dt.hour < 8)

0        0
1        1
2        2
3        3
4        4
        ..
8779    19
8780    20
8781    21
8782    22
8783    23
Name: datahora, Length: 8784, dtype: int64

In [72]:
df_test_mudar_nome_col

,Data,Hora(UTC),Chuva,Pres,Pres.max,Pres.min,Radiacao,Temp,Temp.orvalho,Temp.max,...,Temp.orvalho.max,Temp.orvalho.min,Umid.max,Umid.min,Umid,Dir.vento,Rajada.vento,Vel.vento,Unnamed: 19,datahora
0,2020/01/01,0000,0,938,"938,1","937,5",NaN,"24,1","19,9",26,...,"19,9","17,5",78,60,77,169,"7,1",1,NaN,2020-01-01 00:00:00
1,2020/01/01,0100,0,"938,7","938,7","937,9",NaN,"24,6","19,3","25,3",...,"19,9",18,77,64,73,126,"5,3",",4",NaN,2020-01-01 01:00:00
2,2020/01/01,0200,0,"938,4","938,7","938,4",NaN,"23,3",19,"24,8",...,"19,4","18,4",77,68,77,107,"2,7",0,NaN,2020-01-01 02:00:00
3,2020/01/01,0300,0,938,"938,4",938,NaN,"22,4","19,1","23,3",...,"19,1","18,6",81,77,81,330,",9",0,NaN,2020-01-01 03:00:00
4,2020/01/01,0400,0,"937,9",938,"937,9",NaN,"23,1",19,"23,2",...,"19,2","18,6",82,75,77,308,"1,4",0,NaN,2020-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,2020/12/31,1900,"2,8","941,1","942,1","941,1",76,"20,9","20,3","22,2",...,"21,5","20,2",96,95,96,135,"4,6",0,NaN,2020-12-31 19:00:00
8780,2020/12/31,2000,",8","941,3","941,3","940,9","134,7","21,4","20,8","21,4",...,"20,8","20,3",96,96,96,97,0,0,NaN,2020-12-31 20:00:00
8781,2020/12/31,2100,0,"941,7","941,7","941,1","198,8","21,8","21,2",22,...,"21,3","20,8",96,96,96,155,0,0,NaN,2020-12-31 21:00:00
8782,2020/12/31,2200,",8","942,5","942,5","941,7","31,3","20,9","20,2","21,9",...,"21,3","20,2",96,95,96,124,"4,7",0,NaN,2020-12-31 22:00:00
8783,2020/12/31,2300,"1,8","942,4","942,6","942,2",",6","20,4","19,8","20,9",...,"20,2","19,8",97,96,97,88,0,0,NaN,2020-12-31 23:00:00

In [73]:
def tratar_radiacao(hora, radiacao):
    if (df_test_mudar_nome_col['datahora'].dt.hour > 22) or (df_test_mudar_nome_col['datahora'].dt.hour < 8):
        if radiacao == 'NaN':
            radiacao = 0
    return radiacao
df_test_mudar_nome_col['Radiacao'] = df_test_mudar_nome_col.apply(lambda x: tratar_radiacao(x['datahora'],x['Radiacao']),axis=1)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [55]:
from datetime import *

df_test_mudar_nome_col['Hora(UTC)'] = df_test_mudar_nome_col['Hora(UTC)'].replace("UTC","")

def tratar_hora(hora):
    return hora.replace("UTC","")

df_test_mudar_nome_col['Hora(UTC)'] = df_test_mudar_nome_col['Hora(UTC)'].apply(lambda x: tratar_hora(x))

#df_test_mudar_nome_col['Hora(UTC)'] = df_test_mudar_nome_col['Hora(UTC)'].apply(lambda x: datetime.datetime(x.strip()))

df_test_mudar_nome_col['Hora(UTC)'] = int(df_test_mudar_nome_col['Hora(UTC)'])

TypeError: cannot convert the series to <class 'int'>

In [57]:
df_test_mudar_nome_col.dtypes

Data                 object
Hora(UTC)            object
Chuva                object
Pres                 object
Pres.max             object
Pres.min             object
Radiacao             object
Temp                 object
Temp.orvalho         object
Temp.max             object
Temp.min             object
Temp.orvalho.max     object
Temp.orvalho.min     object
Umid.max              int64
Umid.min              int64
Umid                  int64
Dir.vento             int64
Rajada.vento         object
Vel.vento            object
Unnamed: 19         float64
dtype: object

In [46]:
df_test_mudar_nome_col['Hora(UTC)'] = pd.to_datetime(df_test_mudar_nome_col['Hora(UTC)'])

ParserError: day is out of range for month: 0000

In [ ]:
df2['Hora(UTC)'] = df2['Hora(UTC)'].replace("(UTC)","")

#def tratar_hora(hora):
#    return hora.replace("UTC","")
#df2['Hora(UCT)'] = df2['Hora(UCT)'].apply(lambda x: classe_chuva(x))

In [47]:
df_test_mudar_nome_col['Hora UTC']=df_test_mudar_nome_col['Hora UTC'].apply(lambda x: x.replace('UTC',''))

KeyError: 'Hora UTC'